body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background: url('../assets/imgs/campo-futebol.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  
}

/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 0;
  border-bottom: 4px solid #32cd32; 
}


.header .container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-size: 32px;
  color: #32cd32;
  font-weight: bold;
}

.navbar {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffd700; 
}

.navbar .agora a {
  color: #ffd700;
  border-bottom: 2px solid #ffd700;
}

/*fim header */

.title {
  font-size: 32px;
  margin-bottom: 40px;
  color: white;
  background-color: #1d9b3f;
  margin-left: 18%;
  width: 65%;
}

.teams-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.acessar-btn {
  display: none;
}
.removerinc-btn{
 display: none;
}

.time {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}


.corinthians {
  background-color: #000000;
  border: 3px solid #ffffff;
}

.palmeiras {
  background-color: #1d9b3f;
  border: 3px solid #ffffff;
}

.saopaulo {
  background-color: #d80000;
  border: 3px solid #000000;
}

.santos {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #000000;
}

/*botao */
.subscribe-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #e50914;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.subscribe-btn:hover {
  background-color: #b20710;
}


.acessar-btn:hover {
  background-color: #b20710;
}

/* minha dash*/
  .grafico-Principal {
    margin: 50px;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    height: 219px;
    width: 1095px;
  }