
body {
  font-family: 'Segoe UI', sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
    background: url('../assets/imgs/campo-futebol.jpg') no-repeat center center fixed;

}

/* HEADER */
header {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px 40px;
  border-bottom: 4px solid #32cd32;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo h1 {
  font-size: 32px;
  color: #32cd32;
  font-weight: bold;
}

.subtitle {
  font-size: 0.9rem;
  color: #cccccc;
}


.auth-btn {
  background-color: #32cd32;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: green;
}

/* CONTAINER */
main {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 30px;
  width: 800px;
  text-align: left;
   border: 2px solid #32cd32;
}

h2 {
  color: #32cd32;;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  margin-bottom: 10px;
  color: #f5f5f5;
}

.meta {
  margin-top: 20px;

  padding: 12px 16px;
  border-left: 5px solid #32cd32;
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
}

.icons {
  margin: 10px 0;
}

.icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}


